* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  border: 5px solid black;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
}

#player,
#layer10,
#layer0,
#layer1,
#layer2,
#layer3,
#layer4,
#layer5,
#layer6,
#layer7,
#layer8,
#layer9,
#layer11 {
  display: none;
}

/* .bg-image {
  display: none;
} */
