* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  border: 5px solid black;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
}

.bg-image,
.enemy-image,
#player {
  display: none;
}
