#game-guide * {
  border: 1px solid pink;
}

#game-guide {
  border: 1px solid pink;
  position: absolute;
  width: 750px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  color: whitesmoke;
  font-family: "Press Start 2P", cursive;
}

#game-guide > div {
  display: flex;
  flex-direction: column;
  border: grey solid 2px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 1 / 4 / 2 / 5;
}
.div5 {
  grid-area: 2 / 1 / 3 / 2;
}
.div6 {
  grid-area: 2 / 2 / 3 / 3;
}
.div7 {
  grid-area: 2 / 3 / 3 / 4;
}
.div8 {
  grid-area: 2 / 4 / 3 / 5;
}

#game-guide__title,
#game-guide__me-name {
  text-align: center;
  margin: 5% auto;
  font-size: smaller;
}

#game-guide__me-name {
  font-style: italic;
}

.game-guide__me-img {
  border-radius: 25px;
  width: 40%;
  margin: 0 auto;
  border: 1px solid black;
}

.fa-icons {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  display: block;
  color: whitesmoke;
  padding-right: 3px;
}

.fa-icons a {
  text-decoration: none;
}

.icon:hover {
  color: #61953f;
  transform: scale(1.1);
}
