@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logo-green: #61953f;
}

html {
  background-color: rgb(10, 69, 10);
}

#canvas1,
#game-container {
  border: 5px solid black;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
}

.bg-image,
.enemy-image,
#player {
  display: none;
}

#game-container {
  width: 750px;
  height: 500px;
  border: none;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
}

#btn-container {
  margin: 0 auto;
  width: 95%;
  position: relative;
  top: 63%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.btn {
  display: flex;
  margin-right: 10px;
  background-color: black;
  border: solid 1px white;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 1px solid #61953f;
}

.btn:active {
  cursor: pointer;
  transform: translateY(2px);
}

#game-container__logo-text,
#game-container__game-over {
  position: relative;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 50%;
}

#game-container__game-over {
  display: none;
}

#game-container__try-again {
  display: none;
  position: relative;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 21%;
  animation: pulse 6s infinite;
}

#game-container__start-game {
  position: relative;
  width: 250px;
  top: 40%;
  left: -28%;
  animation: pulse 4s infinite;
}

#game-container__start-game:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: sepia(100%);
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
